Repository pkeilbach/htwg-practical-nlp, pull requests merged in 2024-02, with the labels that each got.

#88 Add blog article for Langchain
  docs/presentations/articles/langchain.md
  mkdocs.yml
Labels: presentation topic

#89 Update naive_bayes.md - fix typo
  docs/lectures/naive_bayes.md
Labels: lecture

#86 add blog article for openai api
  docs/presentations/articles/openai_api.md
  mkdocs.yml
Labels: presentation topic

#111 Run pre-commit hooks on all files
  docs/presentations/articles/elasticsearch.md
  docs/presentations/articles/gensim.md
  docs/presentations/articles/hugging_face.md
  docs/presentations/articles/langchain.md
  docs/presentations/articles/virtual_assistants.md
Labels: devops
