Repository pkeilbach/htwg-practical-nlp, pull requests merged in 2024-01, with the labels that each got.

#62 Add lecture on language models
  docs/img/language-model-text-corpus.drawio.svg
  docs/img/language-models-n-grams.drawio.svg
  docs/lectures/language_models.md
  docs/lectures/naive_bayes.md
  mkdocs.yml
Labels: lecture

#64 Add notebook for minimum edit distance
  .gitignore
  notebooks/data/shakespeare.txt
  notebooks/minimum_edit_distance.ipynb
Labels: assignments

#66 Add make command assignment 4
  Makefile
Labels: assignments

#68 Lecture word embeddings
  docs/img/word-embeddings-cbow-architecture.drawio.svg
  docs/img/word-embeddings-cbow-schema.drawio.svg
  docs/img/word-embeddings-cbow-transformation.drawio.svg
  docs/img/word-embeddings-cbow.drawio.svg
  docs/img/word-embeddings-one-hot-encoding-distance.png
  docs/img/word-embeddings-process.drawio.svg
  docs/img/word-embeddings.drawio.svg
  docs/lectures/language_models.md
  docs/lectures/word_embeddings.md
  mkdocs.yml
Labels: lecture

#61 Article huggingface
  docs/presentations/articles/hugging_face.md
  mkdocs.yml
Labels: presentation topic

#73 Lecture about sequence models
  docs/lectures/sequence_models.md
  mkdocs.yml
Labels: lecture

#74 Presentation open source llms
  docs/presentations/articles/assets/os-llms-demo-gui.png
  docs/presentations/articles/assets/os-llms-instruct-chat.png
  docs/presentations/articles/assets/os-llms-openllama-dataset.png
  docs/presentations/articles/assets/os-llms-replicate-api.png
  docs/presentations/articles/open_source_llms.md
  mkdocs.yml
Labels: presentation topic

#76 Update hugging_face.md
  docs/presentations/articles/hugging_face.md
Labels: presentation topic

#78 Add blog article for spaCy
  docs/presentations/articles/spacy.md
  mkdocs.yml
Labels: presentation topic

#81 Fix CBOW architecture chapter
  docs/img/word-embeddings-cbow-architecture.drawio.svg
  docs/lectures/word_embeddings.md
Labels: documentation

#82 Lecture attention models
  docs/img/attention-models-attention-layer.drawio.svg
  docs/img/attention-models-encoder-decoder.drawio.svg
  docs/img/attention-models-visualization.png
  docs/lectures/attention_models.md
  mkdocs.yml
Labels: lecture

#83 Add further reading section
  docs/lectures/further_reading.md
  mkdocs.yml
Labels: documentation, lecture

#77 Add blog article for rasa
  docs/presentations/articles/rasa.md
  mkdocs.yml
Labels: presentation topic

#80 Article about Bing Spell Check API
  docs/presentations/articles/bing_spell_check_api.md
  mkdocs.yml
Labels: presentation topic

#85 Added Elasticsearch Article
  docs/presentations/articles/assets/elasticsearch-distributed-system.png
  docs/presentations/articles/assets/elasticsearch-elk-stack-data-flow.png
  docs/presentations/articles/assets/elasticsearch-index-example.png
  docs/presentations/articles/assets/elasticsearch-tf-idf.png
  docs/presentations/articles/elasticsearch.md
  mkdocs.yml
Labels: presentation topic
